.search-form {
  padding: 0;
  width: 100%;
  height: 3.75rem;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  border-radius: 16px;
  overflow: hidden;
}

.search-form__text {
  margin: 0;
  padding: 0;
  padding-left: 2rem;
  width: 100%;
  font: inherit;
  font-weight: 400;
  border: none;
  outline: none;
  color: hsl(0, 0%, 17%);
}

.search-form__text::placeholder {
  color: hsl(0, 0%, 59%);
  font-size: small;
}

.button {
  color: white;
  background-color: hsl(0, 0%, 17%);
  border: none;
  width: 4.5rem;
}

.search-form__text:hover,
.button:hover{
  cursor:pointer;
}

@media (min-width: 40rem) {
  .search-form {
    margin-top: 2.2rem;
    max-width: 35rem;
  }
  .search-form__text::placeholder {
    font-size: inherit;
  }
}
