@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary-color: hsl(220, 98%, 61%);
  --check-background: linear-gradient(
    135deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --mobile-bg: url("/images/bg-mobile-dark.jpg");
    --desktop-bg: url("/images/bg-desktop-dark.jpg");
    --body-bg: hsl(235, 21%, 11%);
    --box-bg: hsl(235, 24%, 19%);
    --circles: hsl(237, 14%, 26%);
    --placeholder-text: hsl(234, 11%, 52%);
    --completed-text: hsl(233, 14%, 35%);
    --main-text: hsl(234, 39%, 85%);
    --hover-text: hsl(236, 33%, 92%);
    --info-bar-text: hsl(234, 11%, 52%);
    --border-color: hsl(237, 14%, 26%);
    --filter-bar-text: hsl(234, 11%, 52%);
    --reorder-text: hsl(233, 14%, 35%);
    --delete-color: hsl(234, 11%, 52%);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --mobile-bg: url("/images/bg-mobile-light.jpg");
    --desktop-bg: url("/images/bg-desktop-light.jpg");
    --body-bg: hsl(236, 33%, 92%);
    --box-bg: hsl(0, 0%, 98%);
    --circles: hsl(233, 11%, 84%);
    --placeholder-text: hsl(236, 9%, 61%);
    --completed-text: hsl(233, 11%, 84%);
    --main-text: hsl(235, 19%, 35%);
    --hover-text: hsl(235, 19%, 35%);
    --info-bar-text: hsl(236, 9%, 61%);
    --border-color: hsl(233, 11%, 84%);
    --filter-bar-text: hsl(236, 9%, 61%);
    --reorder-text: hsl(236, 9%, 61%);
    --delete-color: hsl(236, 9%, 61%);
  }
}

html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.125rem;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:active {
  color: var(--hover-text);
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: white;
}

header h1 {
  font-size: 1.75rem;
  letter-spacing: 0.5rem;
}

.dark-mode-toggler {
  width: 1.2rem;
  height: 1.2rem;
  /* content: var(--dark-mode-toggle); */
  cursor: pointer;
}

.sunset {
  animation: sunset 500ms ease-out forwards;
}

.sunrise {
  animation: sunrise 500ms ease-in forwards;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  outline: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /*get rid of ugly blue boxes on mobile*/
}

.circle {
  background: transparent;
  border: 1px solid var(--circles);
  border-radius: 50%;
  width: 1.1rem;
  height: 1.1rem;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
}

@media (min-width: 40rem) {
  header,
  main,
  footer {
    width: 38%;
    min-width: 25rem;
    max-width: 40rem;
    padding: 0;
    margin: 0 auto;
  }

  header {
    margin-top: 3.4rem;
  }

  header h1 {
    font-size: 2.4rem;
    letter-spacing: 1rem;
  }

  .circle {
    width: 1.5rem;
    height: 1.5rem;
  }

  .dark-mode-toggler {
    width: 1.6rem;
    height: 1.6rem;
  }
}

@keyframes sunset {
  from {
    transform-origin: 50% 200%;
    transform: rotate(0deg) scale(1);
    opacity: 100%;
  }
  to {
    transform-origin: 50% 200%;
    transform: rotate(-90deg) scale(0.5);
    opacity: 0%;
  }
}

@keyframes sunrise {
  from {
    transform-origin: 50% 200%;
    transform: rotate(90deg) scale(0.5);
    opacity: 0%;
  }
  to {
    transform-origin: 50% 200%;
    transform: rotate(0deg) scale(1);
    opacity: 100%;
  }
}
