.rounded-box {
  border-radius: 5px;
  background: var(--box-bg);
  width: auto;
}

.todo-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 1.2rem;
  padding: 0;
  box-shadow: 0 8px 30px 8px rgba(0, 0, 0, 0.1);
}

.todo-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--box-bg);
  border-bottom: 1px solid var(--border-color);
  height: 3rem;
  padding: 0 1rem;
}

.todo-list-item:first-of-type {
  border-radius: 5px 5px 0 0;
}

.todo-list-item:last-of-type {
  border-bottom: none;
  border-radius: 0 0 5px 5px;
  color: var(--info-bar-text);
}

.checkbox {
  border: 1px solid var(--circles);
  background: transparent;
  border-radius: 50%;
  width: 1.1rem;
  height: 1.1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
}

.checkbox:hover,
.checkbox + label:hover {
  cursor: pointer;
}

.checkbox:hover,
.checkbox:focus     {
  background: linear-gradient(var(--box-bg), var(--box-bg)) padding-box,
    var(--check-background) border-box;
  border: 1px solid transparent;
}

.checkbox:checked {
  background: url("/images/icon-check.svg") center no-repeat,
    var(--check-background);
  border: none;
}

.checkbox + label {
  flex-grow: 1;
  padding-top: 1.1rem;
  padding-left: 1.2rem;
  height: 100%;
}

.checkbox:checked + label {
  text-decoration: line-through;
  color: var(--completed-text);
}

.delete {
  color: var(--delete-color);
  flex-basis: 0.8rem;
  height: 0.8rem;
  padding-left: 1rem;
  cursor: pointer;
}

.filter-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  outline: none;
  padding: 1rem 3rem;
  height: 3rem;
  color: var(--filter-bar-text);
  font-weight: bold;
}

.selected-filter,
.filter-buttons a:active {
  color: var(--primary-color);
}

.reorder-instructions {
  margin-top: 2rem;
  color: var(--reorder-text);
  text-align: center;
}


@media (min-width: 40rem) {
  .todo-list {
    margin-top: 1.4rem;
    padding: 0;
    box-shadow: 0 8px 30px 8px rgba(0, 0, 0, 0.1);
  }

  .todo-list-item {
    height: 4rem;
    padding: 0 1.5rem;
  }

  .todo-list-item:last-of-type {
    font-size: 90%;
    height: 3rem;
  }

  .checkbox {
    width: 1.5rem;
    height: 1.5rem;
  }

  .checkbox + label {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
  }

  .delete {
    flex-basis: 1rem;
    height: 1.2rem;
    padding-left: 1rem;
    visibility: hidden;
  }

  .todo-list-item:hover .delete,
  .checkbox:focus ~ .delete {
    visibility: visible;
  }

  .reorder-instructions {
    margin-top: 2rem;
    color: var(--reorder-text);
    font-size: 75%;
  }
}
